[Desktop Entry]
Type=Application
Name=Calendar
Name[de_DE]=Kalender
Name[es_ES]=Calendario
Name[nl_NL]=Kalender
Categories=Applications;
Exec=invoker --type=qtcomponents-qt5 /usr/bin/asteroid-calendar
Icon=calendar
X-Desktop-File-Install-Version=0.20
