[Desktop Entry]
Type=Application
Name=Agenda
Name[de_DE]=Agenda
Name[es]=Agenda
Name[fr]=Agenda
Name[ko]=일정
Name[nl_NL]=Agenda
Name[pl]=Agenda
Name[pt_BR]=Agenda
Name[sv]=Kalender
Name[ru]=повестка дня
Categories=Applications;
Exec=invoker --single-instance --type=qtcomponents-qt5 /usr/bin/asteroid-calendar
Icon=ios-calendar-outline
X-Asteroid-Center-Color=#EA9C14
X-Asteroid-Outer-Color=#5E3F08
